// https://codepen.io/migli/pen/dJZQxZ

// custom variables
$sidebar-breakpoint: 768px;
$sidebar-base-width: 240px;
$navbar-height: 3.5rem;
$sidebar-spacer-x: 20px;
$sidebar-spacer-y: $spacer * 0.5;
$sidebar-mini-width: 44px;
$font-size-xs: ($font-size-base * 0.75);
$font-weight-semibold: 500;
$default-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// svg-url-encoder
@import 'svg-url-encoder.scss';

.sidebar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    .sidebar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: '';
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        &.sidebar-toggler-icon-light {
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
        cursor: pointer;
    }
}

.sidebar-container {
    position: relative;
    width: 100%;
    z-index: 99;
}

.sidebar {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $gray-200;
    &.sidebar-fixed {
        position: sticky;
        top: $navbar-height + $spacer;
    }
    .sidebar-user .category-content {
        padding: $spacer;
        text-align: center;
        color: #fff;
        background: url(../images/user_bg4.jpg) center center no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &:first-child {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
        &:last-child {
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }
    }
    .sidebar-content {
        position: relative;
        border-radius: $border-radius;
        margin-bottom: $spacer * 1.25;
    }
    .category-title {
        position: relative;
        margin: 0;
        padding: 12px 20px;
        padding-right: 46px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    &.sidebar-default {
        .category-title {
            border-bottom-color: $gray-300;
            > span {
                display: block;
                text-transform: uppercase;
                font-weight: $font-weight-semibold;
                font-size: $font-size-xs;
            }
        }
        .category-content .nav li > a {
            color: $body-color;
            &.active,
            &[aria-expanded='true'],
            &:hover,
            &:focus {
                background-color: #f4f4f4;
            }
        }
    }
    .category-content {
        position: relative;
        .nav {
            position: relative;
            margin: 0;
            padding: $sidebar-spacer-y 0;
            li {
                position: relative;
                list-style: none;
                > a {
                    font-size: $font-size-sm;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    transition: background 0.15s linear, color 0.15s linear;
                    > [class*='svg-inline'] {
                        float: left;
                        top: 0;
                        margin-top: 2px;
                        margin-right: 15px;
                        transition: opacity 0.2s ease-in-out;
                    }
                }
                ul {
                    padding: 0;
                    > li a {
                        padding-left: $spacer * 2.75;
                    }
                }
            }
            > li > a {
                font-weight: $font-weight-semibold;
            }
        }
    }
}
a[data-toggle='collapse'],
a.dropdown-toggle {
    padding-right: $spacer * 2;
    &:not(.sidebar-toggler):after {
        content: ' ';
        position: absolute;
        top: $sidebar-spacer-y;
        right: $spacer;
        width: 16px;
        height: 16px;
        line-height: $font-size-base * 1.5;
        display: block;
        @include background-svg('<svg aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-2x"><path fill="#{$body-color}" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg>');
        background-repeat: no-repeat;
        border: none;
        transform: rotate(0deg);
        transform-origin: 0 50%;
        transition: transform 0.2s ease-in-out;
    }
    &[aria-expanded='true']:after {
        transform: rotate(90deg);
    }
}
@media (min-width: $sidebar-breakpoint) {
    .sidebar-mini-toggler:after {
        content: ' ';
        position: relative;
        top: -4px;
        margin: 0 auto;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        @include background-svg('<svg aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-2x"><path fill="#fff" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" class=""></path></svg>');
        background-repeat: no-repeat;
        transform: rotate(0deg);
        transform-origin: 0 50%;
        transition: transform 0.2s ease-in-out;
    }
    .sidebar-container {
        padding-top: $spacer * 2 !important;
        display: table-cell;
        vertical-align: top;
        width: $sidebar-base-width + $sidebar-spacer-x * 2;
        padding: 0 $sidebar-spacer-x;
    }
    .sidebar {
        height: auto;
        width: $sidebar-base-width;
        box-shadow: $default-box-shadow;
        transition: width 0.35s ease-in-out;
        h6,
        small {
            display: block;
        }
        span {
            display: inline-block;
        }
        &.sidebar-mini {
            height: auto;
            width: $sidebar-mini-width;
            display: block;
            h6,
            small,
            span {
                display: none !important;
            }
            a.dropdown-toggle:after {
                display: none;
            }
            .sidebar-mini-toggler:after {
                transform: rotate(90deg);
            }
        }
        &.sidebar-default .sidebar-category {
            background-color: #fff;
        }

        &.sidebar-separate {
            .sidebar-content {
                box-shadow: none;
            }
            .sidebar-category {
                margin-bottom: $spacer * 1.25;
                border-radius: $border-radius;
                box-shadow: $default-box-shadow;
            }
        }
    }
    .content-wrapper {
        display: table-cell;
    }
}
