/* ------------------------------------------------------------------------------
 *
 *  # Main project sass file
 *
 *  Common sass file with imports
 *
 *  Version: 1.0
 *  Latest update: Dec 20, 2017
 *
 * ---------------------------------------------------------------------------- */

/* Core
-------------------------------------------------- */
@import '../../node_modules/bootstrap/scss/functions';

/* custom variables*/
@import 'variables-custom.scss';

/* bootstrap variables*/
@import '../../node_modules/bootstrap/scss/variables';

/* color variants */
@import 'color_variants';

/* components*/
@import 'components.scss';

/* sidebar*/
@import 'sidebar.scss';

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    &.navbar-fixed-top {
        padding-top: $navbar-height;
    }
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    > .container {
        padding: 60px 15px 0;
    }
}

.content-wrapper {
    display: table-cell;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Project styles
-------------------------------------------------- */

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #34b6a5;
}
