/* ------------------------------------------------------------------------------
 *
 *  # Main project sass file
 *
 *  Common sass file with imports
 *
 *  Version: 1.0
 *  Latest update: Dec 20, 2017
 *
 * ---------------------------------------------------------------------------- */

/* Core
-------------------------------------------------- */
@import '../../node_modules/bootstrap/scss/functions';

/* custom variables*/
@import 'variables-custom.scss';

/* bootstrap variables*/
@import '../../node_modules/bootstrap/scss/variables';

/* color variants */
@import 'color_variants';

/* components*/
@import 'components.scss';

/* main nav*/
@import 'main-nav.scss';

/* sidebar*/
@import 'sidebar.scss';

/* sidebar*/
@import 'utilities.scss';

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    &.navbar-fixed-top {
        padding-top: $navbar-height;
    }
}

#content-wrapper {
    min-height: calc(100vh - #{$footer-height});
}

#footer {
    width: 100%;
    height: $footer-height;
    background-color: #f5f5f5;
}

/* Project styles
-------------------------------------------------- */

h1 {
    color: $gray-dark;
}
