/* ------------------------------------------------------------------------------
 *
 *  # Main project sass file
 *
 *  Common sass file with imports
 *
 *  Version: 1.0
 *  Latest update: Dec 20, 2017
 *
 * ---------------------------------------------------------------------------- */
/* Core
-------------------------------------------------- */
/* custom variables*/
/**
 *
 * Custom variables
 *
 */
/* Color variants - https://codepen.io/migli/pen/QaGNVp */
/*  Add color variants to $colors*/
/* remap grays */
/* remap colors */
/* Breakpoints */
/* Borders */
/* Fonts */
/* Navbar */
/* Footer */
/* Misc */
/* bootstrap variables*/
/* color variants */
/**
 *
 * Custom variables
 *
 */
/* Color variants - https://codepen.io/migli/pen/QaGNVp */
/*  Add color variants to $colors*/
/* remap grays */
/* remap colors */
/* Breakpoints */
/* Borders */
/* Fonts */
/* Navbar */
/* Footer */
/* Misc */
/* @import '../../node_modules/bootstrap/scss/utilities';*/
/* Color variants - https://codepen.io/migli/pen/QaGNVp */
/* from Bootstrap 4 utilities - replaced $theme-colors with $colors */
/* text colors*/
.text-blue {
  color: #0e73cc !important; }

a.text-blue:hover, a.text-blue:focus {
  color: #0b589c !important; }

.text-red {
  color: #fc4848 !important; }

a.text-red:hover, a.text-red:focus {
  color: #fb1616 !important; }

.text-orange {
  color: #d2bc93 !important; }

a.text-orange:hover, a.text-orange:focus {
  color: #c3a66f !important; }

.text-yellow {
  color: #ffc107 !important; }

a.text-yellow:hover, a.text-yellow:focus {
  color: #d39e00 !important; }

.text-green {
  color: #0f9e7b !important; }

a.text-green:hover, a.text-green:focus {
  color: #0b6f57 !important; }

.text-white {
  color: #fff !important; }

a.text-white:hover, a.text-white:focus {
  color: #e6e6e6 !important; }

.text-gray {
  color: #8c8476 !important; }

a.text-gray:hover, a.text-gray:focus {
  color: #716a5e !important; }

.text-gray-dark {
  color: #2c2c2c !important; }

a.text-gray-dark:hover, a.text-gray-dark:focus {
  color: #131313 !important; }

.text-blue-100 {
  color: #e7f1fa !important; }

a.text-blue-100:hover, a.text-blue-100:focus {
  color: #bdd8f1 !important; }

.text-blue-200 {
  color: #c3dcf2 !important; }

a.text-blue-200:hover, a.text-blue-200:focus {
  color: #99c4e9 !important; }

.text-blue-300 {
  color: #87b9e6 !important; }

a.text-blue-300:hover, a.text-blue-300:focus {
  color: #5da0dd !important; }

.text-blue-400 {
  color: #4a96d9 !important; }

a.text-blue-400:hover, a.text-blue-400:focus {
  color: #2a7dc6 !important; }

.text-blue-500 {
  color: #0e73cc !important; }

a.text-blue-500:hover, a.text-blue-500:focus {
  color: #0b589c !important; }

.text-blue-600 {
  color: #0b5699 !important; }

a.text-blue-600:hover, a.text-blue-600:focus {
  color: #083b69 !important; }

.text-blue-700 {
  color: #073a66 !important; }

a.text-blue-700:hover, a.text-blue-700:focus {
  color: #041f36 !important; }

.text-blue-800 {
  color: #041d33 !important; }

a.text-blue-800:hover, a.text-blue-800:focus {
  color: #000204 !important; }

.text-blue-900 {
  color: #02111f !important; }

a.text-blue-900:hover, a.text-blue-900:focus {
  color: black !important; }

.text-red-100 {
  color: #ffeded !important; }

a.text-red-100:hover, a.text-red-100:focus {
  color: #ffbaba !important; }

.text-red-200 {
  color: #fed1d1 !important; }

a.text-red-200:hover, a.text-red-200:focus {
  color: #fd9f9f !important; }

.text-red-300 {
  color: #fea4a4 !important; }

a.text-red-300:hover, a.text-red-300:focus {
  color: #fd7272 !important; }

.text-red-400 {
  color: #fd7676 !important; }

a.text-red-400:hover, a.text-red-400:focus {
  color: #fc4444 !important; }

.text-red-500 {
  color: #fc4848 !important; }

a.text-red-500:hover, a.text-red-500:focus {
  color: #fb1616 !important; }

.text-red-600 {
  color: #bd3636 !important; }

a.text-red-600:hover, a.text-red-600:focus {
  color: #952b2b !important; }

.text-red-700 {
  color: #7e2424 !important; }

a.text-red-700:hover, a.text-red-700:focus {
  color: #561919 !important; }

.text-red-800 {
  color: #3f1212 !important; }

a.text-red-800:hover, a.text-red-800:focus {
  color: #170707 !important; }

.text-red-900 {
  color: #260b0b !important; }

a.text-red-900:hover, a.text-red-900:focus {
  color: black !important; }

.text-orange-100 {
  color: #fbf8f4 !important; }

a.text-orange-100:hover, a.text-orange-100:focus {
  color: #ede0cf !important; }

.text-orange-200 {
  color: #f4eee4 !important; }

a.text-orange-200:hover, a.text-orange-200:focus {
  color: #e5d7c0 !important; }

.text-orange-300 {
  color: #e9dec9 !important; }

a.text-orange-300:hover, a.text-orange-300:focus {
  color: #dac8a5 !important; }

.text-orange-400 {
  color: #ddcdae !important; }

a.text-orange-400:hover, a.text-orange-400:focus {
  color: #ceb78a !important; }

.text-orange-500 {
  color: #d2bc93 !important; }

a.text-orange-500:hover, a.text-orange-500:focus {
  color: #c3a66f !important; }

.text-orange-600 {
  color: #9e8d6e !important; }

a.text-orange-600:hover, a.text-orange-600:focus {
  color: #827357 !important; }

.text-orange-700 {
  color: #695e4a !important; }

a.text-orange-700:hover, a.text-orange-700:focus {
  color: #4b4335 !important; }

.text-orange-800 {
  color: #352f25 !important; }

a.text-orange-800:hover, a.text-orange-800:focus {
  color: #171410 !important; }

.text-orange-900 {
  color: #201c16 !important; }

a.text-orange-900:hover, a.text-orange-900:focus {
  color: #020201 !important; }

.text-yellow-100 {
  color: #fff9e6 !important; }

a.text-yellow-100:hover, a.text-yellow-100:focus {
  color: #ffedb3 !important; }

.text-yellow-200 {
  color: #fff0c1 !important; }

a.text-yellow-200:hover, a.text-yellow-200:focus {
  color: #ffe48e !important; }

.text-yellow-300 {
  color: #ffe083 !important; }

a.text-yellow-300:hover, a.text-yellow-300:focus {
  color: #ffd350 !important; }

.text-yellow-400 {
  color: #ffd145 !important; }

a.text-yellow-400:hover, a.text-yellow-400:focus {
  color: #ffc412 !important; }

.text-yellow-500 {
  color: #ffc107 !important; }

a.text-yellow-500:hover, a.text-yellow-500:focus {
  color: #d39e00 !important; }

.text-yellow-600 {
  color: #bf9105 !important; }

a.text-yellow-600:hover, a.text-yellow-600:focus {
  color: #8d6b04 !important; }

.text-yellow-700 {
  color: #806104 !important; }

a.text-yellow-700:hover, a.text-yellow-700:focus {
  color: #4f3c02 !important; }

.text-yellow-800 {
  color: #403002 !important; }

a.text-yellow-800:hover, a.text-yellow-800:focus {
  color: #0f0b00 !important; }

.text-yellow-900 {
  color: #261d01 !important; }

a.text-yellow-900:hover, a.text-yellow-900:focus {
  color: black !important; }

.text-green-100 {
  color: #e7f5f2 !important; }

a.text-green-100:hover, a.text-green-100:focus {
  color: #c3e6df !important; }

.text-green-200 {
  color: #c3e7de !important; }

a.text-green-200:hover, a.text-green-200:focus {
  color: #9fd8ca !important; }

.text-green-300 {
  color: #87cfbd !important; }

a.text-green-300:hover, a.text-green-300:focus {
  color: #63c0a9 !important; }

.text-green-400 {
  color: #4bb69c !important; }

a.text-green-400:hover, a.text-green-400:focus {
  color: #3b937d !important; }

.text-green-500 {
  color: #0f9e7b !important; }

a.text-green-500:hover, a.text-green-500:focus {
  color: #0b6f57 !important; }

.text-green-600 {
  color: #0b775c !important; }

a.text-green-600:hover, a.text-green-600:focus {
  color: #074838 !important; }

.text-green-700 {
  color: #084f3e !important; }

a.text-green-700:hover, a.text-green-700:focus {
  color: #03211a !important; }

.text-green-800 {
  color: #04281f !important; }

a.text-green-800:hover, a.text-green-800:focus {
  color: black !important; }

.text-green-900 {
  color: #021812 !important; }

a.text-green-900:hover, a.text-green-900:focus {
  color: black !important; }

.text-white-100 {
  color: white !important; }

a.text-white-100:hover, a.text-white-100:focus {
  color: #e6e6e6 !important; }

.text-white-200 {
  color: white !important; }

a.text-white-200:hover, a.text-white-200:focus {
  color: #e6e6e6 !important; }

.text-white-300 {
  color: white !important; }

a.text-white-300:hover, a.text-white-300:focus {
  color: #e6e6e6 !important; }

.text-white-400 {
  color: white !important; }

a.text-white-400:hover, a.text-white-400:focus {
  color: #e6e6e6 !important; }

.text-white-500 {
  color: white !important; }

a.text-white-500:hover, a.text-white-500:focus {
  color: #e6e6e6 !important; }

.text-white-600 {
  color: #bfbfbf !important; }

a.text-white-600:hover, a.text-white-600:focus {
  color: #a6a6a6 !important; }

.text-white-700 {
  color: gray !important; }

a.text-white-700:hover, a.text-white-700:focus {
  color: #676767 !important; }

.text-white-800 {
  color: #404040 !important; }

a.text-white-800:hover, a.text-white-800:focus {
  color: #272727 !important; }

.text-white-900 {
  color: #262626 !important; }

a.text-white-900:hover, a.text-white-900:focus {
  color: #0d0d0d !important; }

.text-gray-100 {
  color: #f4f3f1 !important; }

a.text-gray-100:hover, a.text-gray-100:focus {
  color: #dedbd4 !important; }

.text-gray-200 {
  color: #e2e0dd !important; }

a.text-gray-200:hover, a.text-gray-200:focus {
  color: #cbc7c1 !important; }

.text-gray-300 {
  color: #c6c2bb !important; }

a.text-gray-300:hover, a.text-gray-300:focus {
  color: #afa99f !important; }

.text-gray-400 {
  color: #a9a398 !important; }

a.text-gray-400:hover, a.text-gray-400:focus {
  color: #928a7c !important; }

.text-gray-500 {
  color: #8c8476 !important; }

a.text-gray-500:hover, a.text-gray-500:focus {
  color: #716a5e !important; }

.text-gray-600 {
  color: #696359 !important; }

a.text-gray-600:hover, a.text-gray-600:focus {
  color: #4d4942 !important; }

.text-gray-700 {
  color: #46423b !important; }

a.text-gray-700:hover, a.text-gray-700:focus {
  color: #2a2824 !important; }

.text-gray-800 {
  color: #23211e !important; }

a.text-gray-800:hover, a.text-gray-800:focus {
  color: #080706 !important; }

.text-gray-900 {
  color: #151412 !important; }

a.text-gray-900:hover, a.text-gray-900:focus {
  color: black !important; }

.text-gray-dark-100 {
  color: #eaeaea !important; }

a.text-gray-dark-100:hover, a.text-gray-dark-100:focus {
  color: #d1d1d1 !important; }

.text-gray-dark-200 {
  color: #cacaca !important; }

a.text-gray-dark-200:hover, a.text-gray-dark-200:focus {
  color: #b1b1b1 !important; }

.text-gray-dark-300 {
  color: #969696 !important; }

a.text-gray-dark-300:hover, a.text-gray-dark-300:focus {
  color: #7d7d7d !important; }

.text-gray-dark-400 {
  color: #616161 !important; }

a.text-gray-dark-400:hover, a.text-gray-dark-400:focus {
  color: #484848 !important; }

.text-gray-dark-500 {
  color: #2c2c2c !important; }

a.text-gray-dark-500:hover, a.text-gray-dark-500:focus {
  color: #131313 !important; }

.text-gray-dark-600 {
  color: #212121 !important; }

a.text-gray-dark-600:hover, a.text-gray-dark-600:focus {
  color: #080808 !important; }

.text-gray-dark-700 {
  color: #161616 !important; }

a.text-gray-dark-700:hover, a.text-gray-dark-700:focus {
  color: black !important; }

.text-gray-dark-800 {
  color: #0b0b0b !important; }

a.text-gray-dark-800:hover, a.text-gray-dark-800:focus {
  color: black !important; }

.text-gray-dark-900 {
  color: #070707 !important; }

a.text-gray-dark-900:hover, a.text-gray-dark-900:focus {
  color: black !important; }

/* background colors + text contrast*/
.bg-blue {
  background-color: #0e73cc;
  color: #fff; }

.underline-blue:before {
  background-color: #0e73cc; }

.bg-red {
  background-color: #fc4848;
  color: #fff; }

.underline-red:before {
  background-color: #fc4848; }

.bg-orange {
  background-color: #d2bc93;
  color: #151412; }

.underline-orange:before {
  background-color: #d2bc93; }

.bg-yellow {
  background-color: #ffc107;
  color: #151412; }

.underline-yellow:before {
  background-color: #ffc107; }

.bg-green {
  background-color: #0f9e7b;
  color: #fff; }

.underline-green:before {
  background-color: #0f9e7b; }

.bg-white {
  background-color: #fff;
  color: #151412; }

.underline-white:before {
  background-color: #fff; }

.bg-gray {
  background-color: #8c8476;
  color: #fff; }

.underline-gray:before {
  background-color: #8c8476; }

.bg-gray-dark {
  background-color: #2c2c2c;
  color: #fff; }

.underline-gray-dark:before {
  background-color: #2c2c2c; }

.bg-blue-100 {
  background-color: #e7f1fa;
  color: #151412; }

.underline-blue-100:before {
  background-color: #e7f1fa; }

.bg-blue-200 {
  background-color: #c3dcf2;
  color: #151412; }

.underline-blue-200:before {
  background-color: #c3dcf2; }

.bg-blue-300 {
  background-color: #87b9e6;
  color: #151412; }

.underline-blue-300:before {
  background-color: #87b9e6; }

.bg-blue-400 {
  background-color: #4a96d9;
  color: #fff; }

.underline-blue-400:before {
  background-color: #4a96d9; }

.bg-blue-500 {
  background-color: #0e73cc;
  color: #fff; }

.underline-blue-500:before {
  background-color: #0e73cc; }

.bg-blue-600 {
  background-color: #0b5699;
  color: #fff; }

.underline-blue-600:before {
  background-color: #0b5699; }

.bg-blue-700 {
  background-color: #073a66;
  color: #fff; }

.underline-blue-700:before {
  background-color: #073a66; }

.bg-blue-800 {
  background-color: #041d33;
  color: #fff; }

.underline-blue-800:before {
  background-color: #041d33; }

.bg-blue-900 {
  background-color: #02111f;
  color: #fff; }

.underline-blue-900:before {
  background-color: #02111f; }

.bg-red-100 {
  background-color: #ffeded;
  color: #151412; }

.underline-red-100:before {
  background-color: #ffeded; }

.bg-red-200 {
  background-color: #fed1d1;
  color: #151412; }

.underline-red-200:before {
  background-color: #fed1d1; }

.bg-red-300 {
  background-color: #fea4a4;
  color: #151412; }

.underline-red-300:before {
  background-color: #fea4a4; }

.bg-red-400 {
  background-color: #fd7676;
  color: #151412; }

.underline-red-400:before {
  background-color: #fd7676; }

.bg-red-500 {
  background-color: #fc4848;
  color: #fff; }

.underline-red-500:before {
  background-color: #fc4848; }

.bg-red-600 {
  background-color: #bd3636;
  color: #fff; }

.underline-red-600:before {
  background-color: #bd3636; }

.bg-red-700 {
  background-color: #7e2424;
  color: #fff; }

.underline-red-700:before {
  background-color: #7e2424; }

.bg-red-800 {
  background-color: #3f1212;
  color: #fff; }

.underline-red-800:before {
  background-color: #3f1212; }

.bg-red-900 {
  background-color: #260b0b;
  color: #fff; }

.underline-red-900:before {
  background-color: #260b0b; }

.bg-orange-100 {
  background-color: #fbf8f4;
  color: #151412; }

.underline-orange-100:before {
  background-color: #fbf8f4; }

.bg-orange-200 {
  background-color: #f4eee4;
  color: #151412; }

.underline-orange-200:before {
  background-color: #f4eee4; }

.bg-orange-300 {
  background-color: #e9dec9;
  color: #151412; }

.underline-orange-300:before {
  background-color: #e9dec9; }

.bg-orange-400 {
  background-color: #ddcdae;
  color: #151412; }

.underline-orange-400:before {
  background-color: #ddcdae; }

.bg-orange-500 {
  background-color: #d2bc93;
  color: #151412; }

.underline-orange-500:before {
  background-color: #d2bc93; }

.bg-orange-600 {
  background-color: #9e8d6e;
  color: #fff; }

.underline-orange-600:before {
  background-color: #9e8d6e; }

.bg-orange-700 {
  background-color: #695e4a;
  color: #fff; }

.underline-orange-700:before {
  background-color: #695e4a; }

.bg-orange-800 {
  background-color: #352f25;
  color: #fff; }

.underline-orange-800:before {
  background-color: #352f25; }

.bg-orange-900 {
  background-color: #201c16;
  color: #fff; }

.underline-orange-900:before {
  background-color: #201c16; }

.bg-yellow-100 {
  background-color: #fff9e6;
  color: #151412; }

.underline-yellow-100:before {
  background-color: #fff9e6; }

.bg-yellow-200 {
  background-color: #fff0c1;
  color: #151412; }

.underline-yellow-200:before {
  background-color: #fff0c1; }

.bg-yellow-300 {
  background-color: #ffe083;
  color: #151412; }

.underline-yellow-300:before {
  background-color: #ffe083; }

.bg-yellow-400 {
  background-color: #ffd145;
  color: #151412; }

.underline-yellow-400:before {
  background-color: #ffd145; }

.bg-yellow-500 {
  background-color: #ffc107;
  color: #151412; }

.underline-yellow-500:before {
  background-color: #ffc107; }

.bg-yellow-600 {
  background-color: #bf9105;
  color: #fff; }

.underline-yellow-600:before {
  background-color: #bf9105; }

.bg-yellow-700 {
  background-color: #806104;
  color: #fff; }

.underline-yellow-700:before {
  background-color: #806104; }

.bg-yellow-800 {
  background-color: #403002;
  color: #fff; }

.underline-yellow-800:before {
  background-color: #403002; }

.bg-yellow-900 {
  background-color: #261d01;
  color: #fff; }

.underline-yellow-900:before {
  background-color: #261d01; }

.bg-green-100 {
  background-color: #e7f5f2;
  color: #151412; }

.underline-green-100:before {
  background-color: #e7f5f2; }

.bg-green-200 {
  background-color: #c3e7de;
  color: #151412; }

.underline-green-200:before {
  background-color: #c3e7de; }

.bg-green-300 {
  background-color: #87cfbd;
  color: #151412; }

.underline-green-300:before {
  background-color: #87cfbd; }

.bg-green-400 {
  background-color: #4bb69c;
  color: #fff; }

.underline-green-400:before {
  background-color: #4bb69c; }

.bg-green-500 {
  background-color: #0f9e7b;
  color: #fff; }

.underline-green-500:before {
  background-color: #0f9e7b; }

.bg-green-600 {
  background-color: #0b775c;
  color: #fff; }

.underline-green-600:before {
  background-color: #0b775c; }

.bg-green-700 {
  background-color: #084f3e;
  color: #fff; }

.underline-green-700:before {
  background-color: #084f3e; }

.bg-green-800 {
  background-color: #04281f;
  color: #fff; }

.underline-green-800:before {
  background-color: #04281f; }

.bg-green-900 {
  background-color: #021812;
  color: #fff; }

.underline-green-900:before {
  background-color: #021812; }

.bg-white-100 {
  background-color: white;
  color: #151412; }

.underline-white-100:before {
  background-color: white; }

.bg-white-200 {
  background-color: white;
  color: #151412; }

.underline-white-200:before {
  background-color: white; }

.bg-white-300 {
  background-color: white;
  color: #151412; }

.underline-white-300:before {
  background-color: white; }

.bg-white-400 {
  background-color: white;
  color: #151412; }

.underline-white-400:before {
  background-color: white; }

.bg-white-500 {
  background-color: white;
  color: #151412; }

.underline-white-500:before {
  background-color: white; }

.bg-white-600 {
  background-color: #bfbfbf;
  color: #151412; }

.underline-white-600:before {
  background-color: #bfbfbf; }

.bg-white-700 {
  background-color: gray;
  color: #fff; }

.underline-white-700:before {
  background-color: gray; }

.bg-white-800 {
  background-color: #404040;
  color: #fff; }

.underline-white-800:before {
  background-color: #404040; }

.bg-white-900 {
  background-color: #262626;
  color: #fff; }

.underline-white-900:before {
  background-color: #262626; }

.bg-gray-100 {
  background-color: #f4f3f1;
  color: #151412; }

.underline-gray-100:before {
  background-color: #f4f3f1; }

.bg-gray-200 {
  background-color: #e2e0dd;
  color: #151412; }

.underline-gray-200:before {
  background-color: #e2e0dd; }

.bg-gray-300 {
  background-color: #c6c2bb;
  color: #151412; }

.underline-gray-300:before {
  background-color: #c6c2bb; }

.bg-gray-400 {
  background-color: #a9a398;
  color: #151412; }

.underline-gray-400:before {
  background-color: #a9a398; }

.bg-gray-500 {
  background-color: #8c8476;
  color: #fff; }

.underline-gray-500:before {
  background-color: #8c8476; }

.bg-gray-600 {
  background-color: #696359;
  color: #fff; }

.underline-gray-600:before {
  background-color: #696359; }

.bg-gray-700 {
  background-color: #46423b;
  color: #fff; }

.underline-gray-700:before {
  background-color: #46423b; }

.bg-gray-800 {
  background-color: #23211e;
  color: #fff; }

.underline-gray-800:before {
  background-color: #23211e; }

.bg-gray-900 {
  background-color: #151412;
  color: #fff; }

.underline-gray-900:before {
  background-color: #151412; }

.bg-gray-dark-100 {
  background-color: #eaeaea;
  color: #151412; }

.underline-gray-dark-100:before {
  background-color: #eaeaea; }

.bg-gray-dark-200 {
  background-color: #cacaca;
  color: #151412; }

.underline-gray-dark-200:before {
  background-color: #cacaca; }

.bg-gray-dark-300 {
  background-color: #969696;
  color: #151412; }

.underline-gray-dark-300:before {
  background-color: #969696; }

.bg-gray-dark-400 {
  background-color: #616161;
  color: #fff; }

.underline-gray-dark-400:before {
  background-color: #616161; }

.bg-gray-dark-500 {
  background-color: #2c2c2c;
  color: #fff; }

.underline-gray-dark-500:before {
  background-color: #2c2c2c; }

.bg-gray-dark-600 {
  background-color: #212121;
  color: #fff; }

.underline-gray-dark-600:before {
  background-color: #212121; }

.bg-gray-dark-700 {
  background-color: #161616;
  color: #fff; }

.underline-gray-dark-700:before {
  background-color: #161616; }

.bg-gray-dark-800 {
  background-color: #0b0b0b;
  color: #fff; }

.underline-gray-dark-800:before {
  background-color: #0b0b0b; }

.bg-gray-dark-900 {
  background-color: #070707;
  color: #fff; }

.underline-gray-dark-900:before {
  background-color: #070707; }

/* border colors*/
.border-blue {
  border-color: #0e73cc !important; }

.border-red {
  border-color: #fc4848 !important; }

.border-orange {
  border-color: #d2bc93 !important; }

.border-yellow {
  border-color: #ffc107 !important; }

.border-green {
  border-color: #0f9e7b !important; }

.border-white {
  border-color: #fff !important; }

.border-gray {
  border-color: #8c8476 !important; }

.border-gray-dark {
  border-color: #2c2c2c !important; }

.border-blue-100 {
  border-color: #e7f1fa !important; }

.border-blue-200 {
  border-color: #c3dcf2 !important; }

.border-blue-300 {
  border-color: #87b9e6 !important; }

.border-blue-400 {
  border-color: #4a96d9 !important; }

.border-blue-500 {
  border-color: #0e73cc !important; }

.border-blue-600 {
  border-color: #0b5699 !important; }

.border-blue-700 {
  border-color: #073a66 !important; }

.border-blue-800 {
  border-color: #041d33 !important; }

.border-blue-900 {
  border-color: #02111f !important; }

.border-red-100 {
  border-color: #ffeded !important; }

.border-red-200 {
  border-color: #fed1d1 !important; }

.border-red-300 {
  border-color: #fea4a4 !important; }

.border-red-400 {
  border-color: #fd7676 !important; }

.border-red-500 {
  border-color: #fc4848 !important; }

.border-red-600 {
  border-color: #bd3636 !important; }

.border-red-700 {
  border-color: #7e2424 !important; }

.border-red-800 {
  border-color: #3f1212 !important; }

.border-red-900 {
  border-color: #260b0b !important; }

.border-orange-100 {
  border-color: #fbf8f4 !important; }

.border-orange-200 {
  border-color: #f4eee4 !important; }

.border-orange-300 {
  border-color: #e9dec9 !important; }

.border-orange-400 {
  border-color: #ddcdae !important; }

.border-orange-500 {
  border-color: #d2bc93 !important; }

.border-orange-600 {
  border-color: #9e8d6e !important; }

.border-orange-700 {
  border-color: #695e4a !important; }

.border-orange-800 {
  border-color: #352f25 !important; }

.border-orange-900 {
  border-color: #201c16 !important; }

.border-yellow-100 {
  border-color: #fff9e6 !important; }

.border-yellow-200 {
  border-color: #fff0c1 !important; }

.border-yellow-300 {
  border-color: #ffe083 !important; }

.border-yellow-400 {
  border-color: #ffd145 !important; }

.border-yellow-500 {
  border-color: #ffc107 !important; }

.border-yellow-600 {
  border-color: #bf9105 !important; }

.border-yellow-700 {
  border-color: #806104 !important; }

.border-yellow-800 {
  border-color: #403002 !important; }

.border-yellow-900 {
  border-color: #261d01 !important; }

.border-green-100 {
  border-color: #e7f5f2 !important; }

.border-green-200 {
  border-color: #c3e7de !important; }

.border-green-300 {
  border-color: #87cfbd !important; }

.border-green-400 {
  border-color: #4bb69c !important; }

.border-green-500 {
  border-color: #0f9e7b !important; }

.border-green-600 {
  border-color: #0b775c !important; }

.border-green-700 {
  border-color: #084f3e !important; }

.border-green-800 {
  border-color: #04281f !important; }

.border-green-900 {
  border-color: #021812 !important; }

.border-white-100 {
  border-color: white !important; }

.border-white-200 {
  border-color: white !important; }

.border-white-300 {
  border-color: white !important; }

.border-white-400 {
  border-color: white !important; }

.border-white-500 {
  border-color: white !important; }

.border-white-600 {
  border-color: #bfbfbf !important; }

.border-white-700 {
  border-color: gray !important; }

.border-white-800 {
  border-color: #404040 !important; }

.border-white-900 {
  border-color: #262626 !important; }

.border-gray-100 {
  border-color: #f4f3f1 !important; }

.border-gray-200 {
  border-color: #e2e0dd !important; }

.border-gray-300 {
  border-color: #c6c2bb !important; }

.border-gray-400 {
  border-color: #a9a398 !important; }

.border-gray-500 {
  border-color: #8c8476 !important; }

.border-gray-600 {
  border-color: #696359 !important; }

.border-gray-700 {
  border-color: #46423b !important; }

.border-gray-800 {
  border-color: #23211e !important; }

.border-gray-900 {
  border-color: #151412 !important; }

.border-gray-dark-100 {
  border-color: #eaeaea !important; }

.border-gray-dark-200 {
  border-color: #cacaca !important; }

.border-gray-dark-300 {
  border-color: #969696 !important; }

.border-gray-dark-400 {
  border-color: #616161 !important; }

.border-gray-dark-500 {
  border-color: #2c2c2c !important; }

.border-gray-dark-600 {
  border-color: #212121 !important; }

.border-gray-dark-700 {
  border-color: #161616 !important; }

.border-gray-dark-800 {
  border-color: #0b0b0b !important; }

.border-gray-dark-900 {
  border-color: #070707 !important; }

/* components*/
/* main nav*/
#main-nav {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 1.6666666666666667rem; }
  #main-nav .nav-link {
    font-variant: small-caps;
    font-size: 1.125rem;
    border-bottom: 2px solid transparent;
    outline-color: transparent; }
    #main-nav .nav-link.dropdown-toggle:after {
      display: none; }
  #main-nav .dropdown {
    position: relative; }
    #main-nav .dropdown .dropdown-menu {
      overflow: hidden; }
      #main-nav .dropdown .dropdown-menu.show {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content; }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #main-nav {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-bottom: 0px; }
    #main-nav .navbar-nav > .nav-item:first-child > .nav-link {
      margin-left: -0.5rem; }
    #main-nav .nav-item {
      position: relative; }
      #main-nav .nav-item.active {
        border-bottom: 2px solid #8c8476; }
    #main-nav .nav-link {
      font-size: 1rem; }
      #main-nav .nav-link.dropdown-toggle {
        z-index: 1001;
        padding-right: 2rem !important; }
    #main-nav .dropdown .dropdown-menu {
      opacity: 0;
      height: 0;
      margin-top: 0;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-transform: translateY(1em);
          -ms-transform: translateY(1em);
              transform: translateY(1em); }
      #main-nav .dropdown .dropdown-menu.show {
        -webkit-transition-delay: 0s, 0s, 0.2s;
             -o-transition-delay: 0s, 0s, 0.2s;
                transition-delay: 0s, 0s, 0.2s;
        opacity: 1;
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
        border-top: 1px solid #e2e0dd;
        -webkit-box-shadow: 0 -5px 0 0 white, 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 15px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 -5px 0 0 white, 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 15px 0 rgba(0, 0, 0, 0.2); } }

@media (min-width: 992px) {
  #main-nav .nav-link {
    font-size: 1.125rem; }
    #main-nav .nav-link.dropdown-toggle {
      padding-right: 2.1rem !important; } }

/* sidebar*/
/* custom variables*/
.sidebar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }
  .sidebar-toggler .sidebar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: '';
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    cursor: pointer; }

.sidebar {
  position: relative;
  width: 100%;
  z-index: 99; }
  .sidebar .sidebar-user .category-content {
    padding: 1rem;
    text-align: center;
    color: #fff;
    background: url(https://picsum.photos/260/80?image=652&blur) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .sidebar .sidebar-user .category-content:first-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .sidebar .sidebar-user .category-content:last-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0; }
  .sidebar .sidebar-content {
    position: relative;
    border-radius: 0;
    margin-bottom: 1.25rem; }
  .sidebar .category-title {
    position: relative;
    margin: 0;
    padding: 12px 20px;
    padding-right: 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .sidebar.sidebar-default .category-title {
    border-bottom-color: #c6c2bb; }
    .sidebar.sidebar-default .category-title > span {
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.70313rem; }
  .sidebar.sidebar-default .category-content .nav li > a {
    color: #151412; }
    .sidebar.sidebar-default .category-content .nav li > a.active, .sidebar.sidebar-default .category-content .nav li > a[aria-expanded='true'], .sidebar.sidebar-default .category-content .nav li > a:hover, .sidebar.sidebar-default .category-content .nav li > a:focus {
      background-color: #f4f4f4; }
  .sidebar .category-content {
    position: relative; }
    .sidebar .category-content .nav {
      position: relative;
      margin: 0;
      padding: 0.5rem 0; }
      .sidebar .category-content .nav li {
        position: relative;
        list-style: none; }
        .sidebar .category-content .nav li > a {
          font-size: 0.82031rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          -webkit-transition: background 0.15s linear, color 0.15s linear;
          -o-transition: background 0.15s linear, color 0.15s linear;
          transition: background 0.15s linear, color 0.15s linear; }
        .sidebar .category-content .nav li ul {
          padding: 0; }
          .sidebar .category-content .nav li ul > li a {
            padding-left: 2.75rem; }
      .sidebar .category-content .nav > li > a {
        font-weight: 500; }

@media (min-width: 768px) {
  .sidebar {
    display: table-cell;
    vertical-align: top;
    width: 280px;
    padding: 0 1.25rem; }
    .sidebar.sidebar-fixed {
      position: -webkit-sticky;
      position: sticky;
      top: 5.5rem; }
    .sidebar.sidebar-default .sidebar-category {
      background-color: #fff; }
    .sidebar.sidebar-separate .sidebar-content {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .sidebar.sidebar-separate .sidebar-category {
      margin-bottom: 1.25rem;
      border-radius: 0;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .content-wrapper {
    display: table-cell; } }

/* sidebar*/
/* Variables*/
/**/
/* Variables should follow the `$component-state-property-size` formula for*/
/* consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.*/
/**/
/* Color system*/
/**/
/* stylelint-disable-next-line scss/dollar-variable-default*/
/* stylelint-disable-next-line scss/dollar-variable-default*/
/* stylelint-disable-next-line scss/dollar-variable-default*/
/* Set a specific jump point for requesting color jumps*/
/* The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.*/
/* Customize the light and dark text colors for use in our YIQ color contrast function.*/
/* Options*/
/**/
/* Quickly modify global styling by enabling or disabling optional features.*/
/* Deprecated, no longer affects any compiled CSS*/
/* Spacing*/
/**/
/* Control the default styling of most Bootstrap elements by modifying these*/
/* variables. Mostly focused on spacing.*/
/* You can add more entries to the $spacers map, should you need more variation.*/
/* stylelint-disable-next-line scss/dollar-variable-default*/
/* This variable affects the `.h-*` and `.w-*` classes.*/
/* stylelint-disable-next-line scss/dollar-variable-default*/
/* Body*/
/**/
/* Settings for the `<body>` element.*/
/* Links*/
/**/
/* Style anchor elements.*/
/* Paragraphs*/
/**/
/* Style p element.*/
/* Grid breakpoints*/
/**/
/* Define the minimum dimensions at which your layout will change,*/
/* adapting to different screen sizes, for use in media queries.*/
/* Grid containers*/
/**/
/* Define the maximum width of `.container` for different screen sizes.*/
/* Grid columns*/
/**/
/* Set the number of columns and specify the width of the gutters.*/
/* Components*/
/**/
/* Define common padding and border radius sizes and more.*/
/* stylelint-enable value-keyword-case*/
/* Assumes the browser default, typically `16px`*/
/* Tables*/
/**/
/* Customizes the `.table` component with basic values, each used across all table variations.*/
/* Buttons + Forms*/
/**/
/* Shared variables that are reassigned to `$input-` and `$btn-` specific variables.*/
/* Buttons*/
/**/
/* For each of Bootstrap's buttons, define text, background, and border color.*/
/* Allows for customizing button radius independently from global border radius*/
/* Forms*/
/* Extra padding to account for the presence of the background-image based indicator*/
/* In pixels because image dimensions*/
/* For focus box shadow issue in IE/Edge*/
/* Form validation*/
/* Dropdowns*/
/**/
/* Dropdown menu container and contents.*/
/* Z-index master list*/
/**/
/* Warning: Avoid customizing these values. They're used for a bird's eye view*/
/* of components dependent on the z-axis and are designed to all work together.*/
/* Navs*/
/* Navbar*/
/* Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link*/
/* Pagination*/
/* Jumbotron*/
/* Cards*/
/* Tooltips*/
/* Popovers*/
/* Badges*/
/* Use a higher than normal value to ensure completely rounded edges when*/
/* customizing padding or font-size on labels.*/
/* Modals*/
/* Padding applied to the modal body*/
/* Alerts*/
/**/
/* Define alert colors, border radius, and padding.*/
/* Progress bars*/
/* List group*/
/* Image thumbnails*/
/* Figures*/
/* Breadcrumbs*/
/* Carousel*/
/* Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)*/
/* Close*/
/* Code*/
/* Printing*/
/*===================================
=           SVG Utilities           =
https://codepen.io/jakob-e/pen/doMoML
Function to create an optimized svg url
Version: 1.0.6
===================================*/
/*  Background svg mixin*/
.dropdown-toggle .caret {
  position: absolute;
  top: calc(48% - 0.8333333333333334rem);
  right: 0.5rem;
  width: 1.6666666666666667rem;
  height: 1.6666666666666667rem;
  margin: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  border: none;
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center; }

.dropdown-toggle {
  position: relative; }
  .dropdown-toggle .caret {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class=''%3E%3Cpath fill='%238c8476' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' class=''%3E%3C/path%3E%3C/svg%3E"); }
    .dropdown-toggle .caret.text-white {
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class=''%3E%3Cpath fill='%23fff' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' class=''%3E%3C/path%3E%3C/svg%3E"); }
  .dropdown-toggle[aria-expanded='true'] .caret {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.btn.dropdown-toggle {
  padding-right: 2.1rem !important; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%; }

body {
  height: 100%; }
  body.navbar-fixed-top {
    padding-top: 3.5rem; }

#content-wrapper {
  min-height: calc(100vh - 200px); }

#footer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5; }

/* Project styles
-------------------------------------------------- */
h1 {
  color: #2c2c2c; }



/*# sourceMappingURL=maps/project.css.map */
