<footer id="main-footer" class="container-fluid bg-gray-800">
    <div class="row justify-content-around pb-4">
        <div class="col-md-4 col-sm-12 text-gray-300">
            <p class="h4 pt-4 pb-2 text-white">Footer Element</p>
            <p>Content</p>
            <hr class="border-gray-600">
        </div>
        <div class="col-md-4 col-sm-6 text-gray-300">
            <p class="h4 pt-4 pb-2 text-white">Footer Element</p>
            <p>Content</p>
            <hr class="border-gray-600">
        </div>
        <div class="col-md-4 col-sm-6 text-gray-300">
            <p class="h4 pt-4 pb-2 text-white">Footer Element</p>
            <p>Content</p>
            <hr class="border-gray-600">
        </div>
    </div>
    <div class="row justify-content-center bg-gray-900">
        <div class="col">
            <p class="text-white text-center m-0 py-3">Copyright © My Website</p>
        </div>
    </div>
</footer>
