<!-- Main sidebar -->
<!-- toggler only for small screens -->
<a href="#" class="sidebar-toggler position-absolute m-2 bg-white d-block d-md-none" data-toggle="collapse" data-target="#sidebar-main" aria-controls="sidebar-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sidebar-toggler-icon"></span>
</a>
<nav id="{{ sidebar.id }}" class="sidebar sidebar-main {{ sidebar.class }}">
    <div class="sidebar-content">
{#
loop categories
#}
{% for categorie in sidebar.categories %}
        <div class="sidebar-category {{ sidebar.class }}">
{#
if username|userinfo
#}
{% if categorie.username is not empty or categorie.userinfo is not empty %}
            <div class="sidebar-user">
                <div class="category-content">
{% if categorie.username is not empty %}
                    <h6>{{ categorie.username }}</h6>
{% endif %}
{% if categorie.userinfo is not empty %}
                    <span>{{ categorie.userinfo }}</span>
{% endif %}
                </div>
            </div>
{% endif %}
{#
endif username|userinfo
#}
{% if categorie.title is not empty %}
                <div class="category-title">
                    {{ categorie.title|raw }}
                </div>
{% endif %}
{#
loop navs
#}
{% for nav in categorie.navs %}
{% if categorie.collapsible == true %}
{% if categorie.collapsed == true and constant('COLLAPSE_INACTIVE_SIDEBAR_CATEGORIES') == true %}
            <div class="category-content collapse" id="{{ nav.id }}">
{% else %}
            <div class="category-content collapse show" id="{{ nav.id }}">
{% endif %}
{% else %}
            <div class="category-content" id="{{ nav.id }}">
{% endif %}
                <ul class="{{ nav.class }}">
{#
loop nav items
#}
{% for item in nav.items %}
                    <li{{ item.item_attr|raw }}>
{% if item.url is not empty %}
                        <a href="{{ item.url }}" title="{{ item.tooltip|raw }}" {{ item.link_attr|raw }}>
{% endif %}
{% if item.icon is not empty %}
                            <i class="{{ item.icon|raw }}"></i>
{% endif %}
                            {{ item.text|raw }}
{% if item.url is not empty %}
                        </a>
{% endif %}
{#
if dropdown
#}
{% if item.dropdown is not empty %}
                        <ul id="{{ item.dropdown_id }}" class="{{ item.dropdown_class }}">
{#
loop dropdown items
#}
{% for dropdownitem in item.dropdown.items %}
                            <li{{ dropdownitem.item_attr|raw }}>
{% if dropdownitem.url is not empty %}
                                <a href="{{ dropdownitem.url }}" title="{{ dropdownitem.tooltip|raw }}" {{ dropdownitem.link_attr|raw }}>
{% endif %}
{% if dropdownitem.icon is not empty %}
                                    <i class="{{ dropdownitem.icon|raw }}"></i>
{% endif %}
                                    {{ dropdownitem.text|raw }}
{% if dropdownitem.url is not empty %}
                                </a>
{% endif %}
{#
end loop dropdown items
#}                                  </li>
{% endfor %}
                        </ul>
                        <!-- /Sub Nav -->
{#
end if dropdown
#}
{% endif %}
{#
end loop nav items
#}                          </li>
{% endfor %}
                </ul>
                <!-- /Nav -->
            </div>
            <!-- /Category Content -->
{#
end loop navs
#}
{% endfor %}
        </div>
        <!-- /Sidebar Category -->
{#
end loop categories
#}
{% endfor %}
    </div>
<!-- /main sidebar -->
</nav>
